<meta content="width=device-width, initial-scale=1,user-scalable=no" name="viewport" />
<nav class="navbar navbar-expand-lg navbar-dark" >
<a class="navbar-brand title">TRACK-IT</a>
</nav>
<div *ngIf="route.url!='/login'">
<div *ngIf="route.url!='/signup'"  class="text-right" id="headernav">
  <input *ngIf="route.url=='/dashboard'"  type='text' class="searchbar" placeholder='Enter Text To Search an Issue' [(ngModel)]="searchText"><span *ngIf="route.url=='/dashboard'" class="material-icons" [routerLink]="['/search',searchText]">search </span>
  <span class="material-icons"  id="home" [routerLink]="['/dashboard']">home</span>
  <span class="material-icons" on-click=(openModal(log_out))>power_settings_new</span>
  <ng-template #log_out>
    <div class="modal-body text-center">
      <p>Do you want to logout ?</p>
      <a type="button" class="btn btn-dark modal-button" (click)="logout()" >Yes</a>
      <a type="button" class="btn btn-dark modal-button" (click)="decline()" >No</a>
    </div>
  </ng-template>
</div>
</div>

<router-outlet></router-outlet>




